
<table class="pretty">
  <tr>
    <th>Date</th>
    <th>Rating</th>
  </tr>
  <tr>
    <td><%= entry.date.strftime("%m/%d/%Y") %></td>
    <td>Work: <%= entry.work%></td>
    <td>Social: <%= entry.social%></td>
    <td>Health:<%= entry.health%></td>
    <td>Education: <%= entry.education%></td>
  </tr>
</table>
