
<table class="pretty">
  <tr>
    <th>Date</th>
    <th>Rating</th>
  </tr>
  <tr>
    <td><%= entry.date.strftime("%m/%d/%Y") %></td>
    <td>Work: <%= entry.work%></td>
    <td>Social: <%= entry.social%></td>
    <td>Health:<%= entry.health%></td>
    <td>Education: <%= entry.education%></td>
  </tr>
</table>

date <%= entry.date.strftime("%m/%d/%Y") %>
work <%= entry.work %>
social <%= entry.social %>
health <%= entry.health %>
education <%= entry.education %>
>>>>>>> c14fbba30aa8805b27bebec6e16416c355d45644
